* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: #000;
  color: #fff;
  font-size: 18px;
}

/* Fade in transition */
.reveal {
  position: relative;
  transform: translateY(125px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/* Hero Section */
.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  padding: 30px 40px;
  background: rgba(0, 0, 0, .7);
  color: #fff;
}

.logo span {
  color:rgb(255, 216, 22)
}

.hero-section {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('./images/pexels-morna-tang-3873980.jpg') no-repeat center center/cover;
  height: 100vh;
  max-height: 100vh;
}

.hero-content {
  color: #fff;
  text-align: center;
  margin-top: 200px;
  line-height: 1.6;
}

.main-heading {
  font-size: 5rem;
}

.sub-heading {
  font-size: 1.3rem;
}

.button-type-1 {
  background-color: rgb(255, 216, 22);
  border: none;
  padding: 20px 30px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all ease .3s;
  width: 220px;
}

.button-type-1:hover {
  transform: translateY(-5px);
}

/* Why Us Section */
.why-us-section {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  margin: 100px auto 0;
  line-height: 1.7;
}

.heading-type-1 {
  color:rgb(255, 216, 22);
  font-size: 22px;
}

.heading-type-2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.img-container img {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.why-us-section p {
  margin-top: 20px;
  width: 800px;
}

/* Explore Section */
.explore-section {
  margin: 180px auto 0;
  width: 85vw;
}

.explore-section h2,
.explore-section h3 {
  text-align: center;
  margin: 20px 0
}

.explore-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 60px;
}

.menu-card {
  padding: 20px;
  background: rgb(30, 30, 30);
  line-height: 1.6;
  margin: 0 20px;
  border-radius: 10px;
  transition: all ease .3s;
}

.menu-card:hover {
  transform: translateY(-10px);
}

.card-text {
  padding-bottom: 30px;
}

.heading-type-3 {
  font-size: 26px;
  margin: 10px 0;
}

.icon {
  font-size: 26px;
  padding-top: 30px;
}

.btn-container {
  text-align: center;
  margin-top: 50px;
}

/* Client Section */
.client-section {
  background: rgb(39, 39, 39);
  text-align: center;
  margin-top: 100px;
  padding-bottom: 80px;
}

.client-section h2,
.client-section h3 {
  margin: 20px 0
}

.client-content {
  padding-top: 80px;
  width: 85vw;
  margin: 0 auto;
}

.client-container {
  display: flex;
  justify-content: space-evenly;
}

.client-card {
  padding: 40px;
  margin: 15px;
  border-radius: 10px;
  line-height: 1.7;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('./images/testimonial-img.jpg') no-repeat center center/cover;
  transition: all ease .3s;
}

.client-card:hover {
  transform: translateY(-10px);
  box-shadow: 10px 5px 5px rgb(0, 0, 0.9);
}

.client-container .icon {
  margin-bottom: 20px;
}

.client-name {
  font-size: 28px;
}

.job-title {
  font-size: 14px;
}

.card-text {
  color: rgb(190, 190, 190);
}

/* Picture Section */
.picture-section {
  margin-top: 100px;
  
}

.picture-section h2,
.picture-section h3 {
  text-align: center;
  margin: 20px 0
}

.picture-content {
  margin-top: 60px;
  width: 100vw;
  margin-left: 140px;
}

.angry-grid {
  display: grid; 
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
  gap: 10px;
  height: 100%;
}
 
#item-0 {
  background-color: #959AEA; 
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 3;
}

#item-1 {
  background-color: #B6D5CB; 
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 4;
}

#item-2 {
  background-color: #5DC78C; 
  grid-row-start: 1;
  grid-column-start: 4;

  grid-row-end: 2;
  grid-column-end: 5; 
}

#item-3 {
  background-color: #D85679; 
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 5; 
}

#item-4 {
  background-color: #DBD58D; 
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;
}

#item-5 {
  background-color: #D5ADAE; 
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;
}

/* Form Section */

.form-section {
  text-align: center;
  margin-top: 100px;
}

.form-section p{
  margin-top: 20px;
  font-size: 1.5rem;
} 

.deals-p {
  letter-spacing: 2px;
}

.form-input {
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: #000;
  border: 1px solid #fff;
  width: 450px;
  padding: 20px;
  font-size: 1.3rem;
}

.form-btn {
  display: block;
  margin: 0 auto;
  width: 450px;
  padding: 20px;
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.form-btn:hover {
  background-color: rgb(225, 225, 225);
  color: #000;
}

